.labelContainer {
  text-wrap: nowrap; /* Cambiamos wrap por nowrap */
  overflow: hidden; /* Añadimos esto */
  text-overflow: ellipsis; /* Mantenemos esto */
  max-width: 100%; /* Añadimos un ancho máximo base */
  white-space: nowrap; /* Añadimos esto */
}

.labelActive {
  background: var(--dark-gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.labelInactive {
  color: var(--text-inactive);
}

.decorator {
  min-width: 10px;
  height: 70px;
  border-radius: 0% 15px 15px 0%;
  margin-right: 10px;
  background: transparent;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    background 0.3s ease;
}

.decoratorActive {
  background: var(--dark-gradient-primary);
  transform: scaleX(1);
}

.activeIcon {
  background: var(--dark-gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.inactiveIcon {
  color: var(--text-inactive);
}

.navItem {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 20px;
  transition: all 0.25s ease;
}
.navItem:hover {
  transform: translateY(-5px);
}

.navItem:active {
  transform: translateY(-2.5px)
}

.navItemIcon{
  font-family: 'Material Symbols Outlined';
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

@media (max-width: 600px) {
  .label {
    display: none;
  }
  .navItem {
    flex-direction: column-reverse;
    padding: 0;
    height: 100%;
  }
  .decorator {
    width: 120%;
    height: 10px;
    border-radius: 15px 15px 0% 0%;
    margin-right: 0px;
    transform-origin: bottom;
  }
  .navItem:hover {
    transform: scale(1.1);
  }
  
  .navItem:active {
    transform: scale(0.95)
  }

  .navItemIcon{
    text-align: center;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 40px;
  }
}
