.navItemsContainer {
  box-sizing: border-box;
  padding-top: 15px;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: minmax(30px, 70px);
  align-items: center;
  overflow: hidden;
  background-color: var(--layout-bg);
}

@media (max-width:600px) {
  .navItemsContainer{
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 0px 10px;
    overflow-x: scroll;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.068);
  }
}