VITE_ENVIROMENT=mockup  # Could Be 'production',
                        #'development' for deploying the backend in local
                        #'mockup' for faking api data, if its mockup, specify the role
VITE_MOCKUP_ROLE=coach  # could be 'pro', 'coach' and 'admin'
VITE_LOGO_URL=https://plastempack.com/wp-content/uploads/2023/06/icono-senalizaicon-vial-nuevo-color.png
VITE_PATH_HOURS=32  # the min hours to send a path (just for front end)
VITE_BACKEND_URL=http://localhost:3000