ENVIROMENT=mockup   # Could Be 'production',
                    #'development' for deploying the backend in local
                    #'mockup' for faking api data, if its mockup, specify the role
MOCKUP_ROLE=pro     # could be 'pro', 'coach' and 'admin'