.mainContainer {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: var(--content-bg);
  padding: 30px;
  border-radius: 20px;
  position: relative;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tabList {
  display: flex;
  border-bottom: 1px solid var(--hr-color);
  margin-bottom: 24px;
  gap: 30px;
}

.tab {
  padding-top: 12px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all 0.25s ease;
}

.tab:hover span {
  transform: translateY(-3px);
}

.tab:active span {
  transform: translateY(-1px);
}

.activeTab span {
  color: var(--primary-high);
}

.span {
  margin: 0px 20px;
  color: var(--text-inactive);
  transition: all 0.25s ease;
}

.select{
  margin-top: 10px;
}

.input{
  margin-top: 10px
}

.idTypeSelect{
  min-width: 80px;
}

.decorator {
  width: 100%;
  height: 5px;
  background-color: var(--primary-high);
  border-radius: 5px 5px 0 0;
  transform: scale(0);

  transform-origin: center;
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1),
    background 0.3s ease;
}

.decoratorActive {
  transform: scale(1) ;
}

.formGroup {
  margin-bottom: 16px;
  width: 100%;
}



.button {
  width: max-content;
}

.editButton {
  padding: 8px;
  width: 30px;
  height: 30px;
  background: var(--dark-gradient-primary);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  top: -40px;
}

.formLayout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.content {
  overflow-y: auto;
}

.profileContainer {
  display: flex;
  gap: 60px;
}

.avatarContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.avatar {
  aspect-ratio: 1/1;
  min-width: 150px;
  max-width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.formContainer {
  flex: 1;
}

.idContainer {
  display: flex;
  gap: 8px;
}

.idContainer .input {
  flex: 1;
}

.idContainer .select {
  width: auto;
}

.ButtonsContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 2 0px;
}

@media (max-width: 1000px) {

  .avatarContainer {
    align-self: center;
    margin-bottom: -70px;
  }

  .formGroup {
    margin-bottom: 0px;
  }
  .formLayout {
    grid-template-columns: 1fr;
  }

  .profileContainer {
    flex-direction: column;
  }
}
