.mainContainer {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--content-bg);
  padding: 30px;
  padding-bottom: 20px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 0px 8px 2px var(--shadow);
  margin-top: 20px;
}

.noMarginTop {
  margin-top: 0;
}

.noMarginBottom {
  margin-bottom: 0;
}

.suggestionsPrompt p {
  margin-bottom: 20px;
  color: #555;
}

.suggestionsPrompt{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.6rem
}

.loadingContainer {
  text-align: center;
  padding: 30px 0;
}

.button {
  width: max-content;
}

.suggestionsContainer {
  animation: fadeIn 0.5s ease-in;
}

.suggestionHeader {
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
  background-color: var(--content-bg);
  box-shadow: 0px 0px 8px 2px var(--shadow);
  border-left: 4px solid var(--primary-high);
}

.activitySuggestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid var(--box-border);
  border-radius: 12px;
  margin-bottom: 15px;
  transition: all 0.3s ease;
  background-color: var(--content-bg);
  box-shadow: 0px 0px 8px 2px var(--shadow);
}

.activitySuggestion:hover {
  box-shadow: 0px 0px 8px 2px var(--shadow-primary);
}

.activityInfo {
  flex: 1;
}

.activityInfo h4 {
  margin: 0 0 10px 0;
  color: var(--text-light);
}

.activityInfo p {
  margin: 0 0 10px 0;
  color: var(--text-ultralight);
}

.activityDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
  font-size: 0.85rem;
}

.activityDetails span {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: var(--primary-light);
  color: var(--primary-palid);
}

.activityActions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}

.acceptButton, .rejectButton {
  font-weight: 500;
  width: 100%;
}

.acceptButton:disabled {
  background-color: var(--button-inactive);
  cursor: not-allowed;
}

.closeButton{
  align-self: center;
}

.closeButtonContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.generateButton{
  align-self: center;
  width: 20%;
  min-width: fit-content;
}