.mainContainer {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--content-bg);
  padding: 30px;
  padding-bottom: 20px;
  border-radius: 20px;
  position: relative;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px 2px var(--shadow);
}

.coach {
  padding: 1rem;
  border-radius: 6px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: var(--content-bg);
  box-shadow: 0px 0px 8px 2px var(--shadow);
  border-left: 4px solid var(--primary-high);
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.membersTableContainer{
  margin-bottom: 15px;
}

.membersTable{
  min-width: 0;
}

.changeCoach{
  margin-top: 15px;
}

.titleAndDescription{
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.description{
  color: var(--text-ultralight);
  font-weight: 600;
  margin-bottom: 0px;
}

.member{
  background-color: var(--content-bg);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.membersHeader{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.formContainer {
  flex: 1;
}

.formGroup {
  margin-bottom: 16px;
  width: 100%;
}

.input {
  margin-top: 10px;
}

.select {
  margin-top: 10px;
}

.text {
  margin: 0;
  color: white;
  font-size: 1rem;
}

.button {
  justify-self: center;
  width: max-content;
}
.idTypeSelect {
  min-width: 80px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.idContainer {
  display: flex;
  gap: 8px;
}

.idContainer .input {
  flex: 1;
}

.idContainer .select {
  width: auto;
}

.formContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.buttonsContainer{
  display: flex;
  gap: 10px;
}

.label {
  margin-bottom: 10px;
}

span.button{
  width: min-content;
  cursor: pointer;
  transition: all 0.2s ease;
}

span.button:hover{
  transform: scale(1.3);
  opacity: 0.5;
}

span.button:active{
  transform: scale(1.1);
}

.editButton  {
  background: var(--dark-gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media (max-width: 1000px) {
  .avatarContainer {
    align-self: center;
    margin-bottom: -70px;
  }

  .formGroup {
    margin-bottom: 8px;
  }
  .formLayout {
    grid-template-columns: 1fr;
  }

  .profileContainer {
    flex-direction: column;
  }

  .buttonContainer {
    margin-top: 10px;
  }
}


.goTo{
  width: max-content;
}

.formContainer {
  flex: 1;
}

.formGroup {
  margin-bottom: 16px;
  width: 100%;
}

.noMarginTop{
  margin-top: 0px;
}

.noMarginBottom{
  margin-bottom: 0px;
}