.mainContainer {
  box-sizing: border-box;
  width: 100%;
  background-color: var(--content-bg);
  border-radius: 20px;
  overflow-x: auto; /* Permite scroll horizontal en pantallas pequeñas */
}

.table {
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  min-width: 600px; /* Evita que las columnas se compriman demasiado */
}

.table th,
.table td {
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.table th {
  text-align: left;
  border-bottom: 2px solid #e6eff5;
  color: var(--text-light);
}

.table td {
  border-bottom: 1px solid #e6eff5;
}

.actions {
  text-align: end;
}

.detailsButton {
  padding: 5px 10px;
  border: 1px solid var(--primary-high);
  border-radius: 15px;
  background: none;
  color: var(--primary-high);
  cursor: pointer;
  width: max-content;
  margin-left: 1rem;
}

.deleteButton {
  padding: 5px 10px;
  border: 1px solid var(--primary-high);
  border-radius: 15px;
  background: none;
  color: var(--primary-high);
  cursor: pointer;
  width: max-content;
  margin-left: 1rem;
}

.detailsButton {
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .table th,
  .table td {
    padding: 5px;
    max-width: 150px;
  }

  .detailsButton {
    padding: 5px;
  }
}
