@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");


:root{
  --bg: #EFF0F3;
  --layout-bg: #F7F8F9;
  --content-bg: #fdfdfd;


  --primary-low:#B33F00;
  --primary-high: #FD5800;
  --primary-palid: #FA7E3D;
  --primary-clear:#F9BB9B;
  --primary-light:#ffdcca;

  --secondary-low:#9F3C3C;
  --secondary-high: #F54B4B;
  --secondary-palid: #F6675F;
  --secondary-clear:#FF9F92;

  --dark-gradient-primary: linear-gradient(to bottom, var(--primary-high), var(--primary-palid));
  --light-gradient-primary: linear-gradient(to bottom, var(--primary-palid), var(--primary-clear));

  --dark-gradient-secondary: linear-gradient(to bottom, var(--secondary-high), var(--secondary-palid));
  --light-gradient-secondary: linear-gradient(to bottom, var(--secondary-palid), var(--secondary-clear));
  
  --text-hard: #0D0D0D;
  --text-med: #1C1C1C;
  --text-light: #2A2A2A;
  --text-ultralight: #474747;
  --text-inactive: #a19f9f;
  --text-link: #8D6652;
  --text-link-clear: #b3a199;

  --hr-color: #dfe0e4;
  --input-border: #dfe0e4;
  --box-border: #dfe0e4;

  --shadow: #e2e2e2;
  --shadow-primary:#ffcbae;
}



body {
  margin: 0;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

h1 {
  color: var(--text-hard);
  font-weight: 700;
}

h2 {
  color: var(--text-light);
  font-weight: 650;
}

h3 {
  color: var(--text-hard);
  font-size: medium;
}

hr {
  border: 0;
  height: 2px;
  background-color: var(--hr-color); /* Color de la línea */
  margin: 40px 0px;
}

.light-gradient-primary {
  background: var(--light-gradient-primary)
}

.dark-gradient-primary {
  background: var(--dark-gradient-primary)

}

.dark-gradient-secondary {
  background: var(--dark-gradient-secondary);
}

label {
  color: var(--text-light);
  font-size: 0.875rem;
  font-weight: 500;
}

input {
  box-sizing: border-box;
  width: 100%;
  min-width: 160px;
  height: 46px;
  padding: 0.5rem 1rem;
  border: 1px solid var(--input-border);
  border-radius: 15px;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
  
  font-family: inherit;
}

textarea {
  resize: none;
  font-family: inherit;
  box-sizing: border-box;
  width: 100%;
  min-width: 160px;
  padding: 1rem 1rem;
  border: 1px solid var(--input-border);
  border-radius: 15px;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
}
select {
    appearance: none;
    width: 100%;
    height: 46px;
    min-width: 160px;
    box-sizing: border-box;
    padding: 0.5rem 0.1rem 0.5rem 1rem;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px;
    border: 1px solid var(--input-border);
    border-radius: 15px;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
    color: var(--text-link-clear);
}
select:focus {
  box-shadow: 0 0 0 2px var(--primary-clear);
}
input:focus {
  box-shadow: 0 0 0 2px var(--primary-clear);
}
textarea:focus {
  box-shadow: 0 0 0 2px var(--primary-clear);
}

button {
  width: 100%;
  padding: 0.75rem;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: opacity 0.2s;
  margin-top: 0.5rem;
}

button:hover {
  opacity: 0.6;
}

